{{ define "main" }}
      <div class="homepage-content">

        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
      <div class="cafe-list">
        <!-- Note that .Data.Pages is the equivalent of .Site.Pages on the homepage template. -->
        {{ range where .Site.RegularPages "Section" "cafes" }}
          <a class="btn btn-lg btn-secondary" href="#">{{ .Title }}</a>
        {{ end }}
      </div>
{{ end }}
{{ define "footer" }}
<p>Home page footer!</p>
{{ end }}
